/* Reset CSS */
*{
    margin: 0;
    padding: 0;
    transition: all 1s;
}
a{
    position: absolute;
    display: block;
    flex-direction: column;
    width: 300px;
    margin-top: 20%;
    margin-left: 20%;
    text-decoration: none;
    color: black;
    flex-shrink: 0;
    
}
a:hover h1{
    text-shadow: 1px 70px 11px #00000047, 1px 1px 16px #00ff2d99;
}
a:hover h2{
    text-shadow: 1px 70px 11px #00000047, 1px 1px 6px #00c723;

}
a:hover .fas{
    text-shadow: 1px 70px 11px #00000047, 1px 1px 16px #00ff2d99;;

}
a:hover span{
    box-shadow: 1px 70px 11px #d31f4349, 1px 1px 16px #00ff2d99;;
    text-shadow: none;
}
/* Font */
@font-face {
    font-family: 'Helvetica Neue LT Std 57 Condensed';
    font-style: normal;
    font-weight: normal;
    src: local('Helvetica Neue LT Std 57 Condensed'), url('font/HelveticaNeueLTStd-Cn.woff') format('woff');
    }
hr{
    width: 176px;
    background-color: black;
    height: 1px;
    margin: 1.5px auto 0 auto;
    border: none;
}
h1{
    font-size: 2em;
}
h1, h2{
    font-family:"Helvetica Neue LT Std 57 Condensed", sans-serif 
}
h2{
    color: #424242;
}

.center-text{
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
}
.center-text h2{
    font-stretch: normal;
    font-weight: lighter;
    font-size: 0.9em;
    width: 100%;
    margin: 0px -26px 0 0;
    letter-spacing: 26px;
    line-height: 22px;   
}
span{
    background-color: #d31f43;
    color: white;
    padding: 3px;
    
}
#container-logo{
    margin: auto;
    width: 300px;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.fas{
    margin: 0px 5px 0px 5px;
    font-size: 1.5em;
    width: 25px;
}